html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/********header********/

nav {
  background-color: #fff;
  border-bottom: 2px solid #DDD;
}

.active {
  color: #4c5058;
  font-weight: 500;
}

a:hover {
  cursor: pointer;
  color: #333333;
}

/********introduction********/

.introduction {
  background-image: url("../images/background.jpeg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 460px;
  min-height: 350px;
  overflow: auto;
}


.introduction h1, h3 {
  text-align: center;
  font-weight: 300;
  color: white;
}

.introduction h1 {
  margin-top: 175px;
}

.introduction h3 {
  margin: 12.5px 0;
  font-size: 1.2em;
}

.btn {
  color: white;
  background-color: #f15a29;
}

.btn:hover {
  background-color: #d9400e;
}

/********cases********/

.cases h2 {
  font-size: 2.75rem;
  font-weight: 300;
  text-align: center;
}

.cases li {
  display: inline-block;
  height: 225px;
  text-align: center;
  color: black;
}

.caption h3 {
  height: 25px;
  color: black;
  font-weight: 400;
  font-size: 1.563rem;
  margin: 2.5rem 0px 1.875rem;
}

/********footer********/

footer {
  text-align: center;
}

footer span {
  color: #a7abb3;
  font-size: 14px;
  font-weight: 400;
}

footer li {
  display: inline-block;
  border: 1px solid #eaebec;
  border-radius: 50%;
  padding: 1% 1.5%;
  margin-left: .5%;
  margin-right: .5%;
}

.twitter {
  color: #55acee;
}

.facebook {
  color: #4c66a4;
}

.instagram {
  color: #3f729b;
}


