html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*
div {
    border: 1px solid Chocolate;
}*/

/********header********/

.top-navigation {
  background-color: #fff;
  border-bottom: 1px solid #DDD;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.content {
  padding: 0px 15px;
  width: 960px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  margin:2% 0 0 2%;
}

.top-navigation > .content {
  height: 70px;
}

.nav-links {
  float: right;
  width: 70%;
  list-style-type: none;
}

.nav-links li {
  float: left;
  display: inline-block;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
}

.top-navigation .nav-links > .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .nav-links a:hover {
  cursor: pointer;
  color: #333333;
}

/********introduction********/

.introduction {
  background-image: url("images/background.jpeg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45.938rem;
  overflow: auto;
}


.introduction h1, h3 {
  text-align: center;
  font-weight: 300;
  color: white;
}

.introduction h1 {
  margin-top: 17.5rem;
  font-size: 3.125rem;
}

.introduction h3 {
  margin-top: 1.25rem;
  font-size: 1.563rem;
}

.introduction .btn {
  display: block;
  width: 9.688rem;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  border-style: none;
  margin:0 auto;
  margin-top: 1.563rem;
  text-align: center;
  font-size: 1.125rem;
  color: white;
  background-color: #f15a29;
}

.btn:hover {
  background-color: #d9400e;
}

/********cases********/

.cases {
  margin-top: 7.875rem;
  margin-bottom: 7.875rem;
}

.cases h2 {
  font-size: 2.75rem;
  margin: 1.625rem 0 3.125rem;
  font-weight: 300;
  text-align: center;
}

.cases .devices {
  list-style-type: none;
  padding-left: 0;
}

.devices li {
  display: inline-block;
  width: 33%;
  height: 225px;
  text-align: center;
  color: black;
}

.caption h3 {
  display: inline-block;
  width: 309.984px;
  height: 25px;
  color: black;
  font-weight: 400;
  font-size: 1.563rem;
  margin: 2.5rem 0px 1.875rem;
}








