body {
    background-color: LightGray;
    width: 100%;
}

div {
    border: 1px solid Chocolate;
}

ul {
  list-style-type: none;
}

/********header********/

.top-navigation {
  background-color: #fff;
  border-bottom: 1px solid #DDD;
}

.logo {
  display: inline-block;
  margin:2% 0 0 2%;
}

.top-navigation > .content {
  width: 60%;
  height: 4.375rem;
  margin: 0 auto;
}

.nav-links {
  float: right;
  width: 70%;
}

.nav-links li {
  float: left;
  display: inline-block;
  padding-top: 2%;
  padding-right: 5%;
  font-size: 1.04rem;
  color: #A8A8A8;
}

.nav-links li:first-child {
  color: #333333;
}














