html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

div {
    border: 1px solid Chocolate;
}

ul {
  list-style-type: none;
}


/********header********/

.top-navigation {
  background-color: #fff;
  border-bottom: 1px solid #DDD;
}

.content {
  padding: 0px 15px;
}

.logo {
  display: inline-block;
  margin:2% 0 0 2%;
}

.top-navigation > .content {
  width: 60%;
  height: 4.375rem;
  margin: 0 auto;
}

.nav-links {
  float: right;
  width: 70%;
}

.nav-links li {
  float: left;
  display: inline-block;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
}

.top-navigation .nav-links > .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .nav-links a:hover {
    cursor: pointer;
    color: #333333;
}













