@import url("http://fonts.googleapis.com/css?family=Roboto:400,500,300");

$white: #FFF;
$gray-border: #DDD;
$gray-copyright: #A7ABB3;
$gray-hover: #333;
$gray-nav-links: #838994;
$orange-light: #F15A29;
$orange-dark: #D9400E;
$black: #000;

$twitter: #55ACEE;
$facebook: #4C66a4;
$instagram: #3F729B;

$btn-primary: $orange-light;
$btn-secondary: $orange-dark;

$font-main: 'Roboto', sans-serif;
