nav {
  background-color: #FFF;

  .navbar-brand {
    padding-top: 7px;
  }

  .icon-bar {
    background-color: black;
  }

  a {
    color: #838994;
  }

  a:hover {
    cursor: pointer;
    color: #333;
  }

  .active {
    color: #333;
    font-weight: 500;
  }
}

.navbar {
  border-bottom: 2px solid #DDD;
}


