nav {
  background-color: $white;

  .navbar-brand {
    padding-top: 7px;
  }

  .icon-bar {
    background-color: $black;
  }

  a {
    color: $gray-nav-links;
  }

  a:hover {
    cursor: pointer;
    color: $gray-hover;
  }

  .active {
    color: $gray-hover;
    font-weight: 500;
  }
}

.navbar {
  border-bottom: 2px solid $gray-border;
}


